name: content in pull_request
on: pull_request
jobs:
  check-pr-title:
    runs-on: ubuntu-latest
    steps:
      - name: Check PR title format
        run: |
          PR_TITLE=$(echo "${{ github.event.pull_request.title }}")
          COMMITS=$(echo "${{ toJson(github.event.pull_request.commits) }}" | jq -r '.[].message')

          python -m scripts/test_pr
          python -m scripts/test_commit_msg