name: content in push
on: push
jobs:
  check-commit-message:
    runs-on: ubuntu-latest
    steps:
      - name: Check commit message
        run: |
          COMMITS="${{ toJson(github.event.commits) }}"
          
          python -m scripts/test_commit_msg