name: content in pull_request
on: pull_request
jobs:
  check-pr-title:
    runs-on: ubuntu-latest
    steps:
      - name: Check PR title format
        run: |
          PR_TITLE="${{ github.event.pull_request.title }}"
          COMMITS="${{ toJson(github.event.pull_request.commits) }}"

          python -m scripts/test_pr
          python -m scripts/test_commit_msg