name: content in push
on: push
jobs:
  check-commit-message:
    runs-on: ubuntu-latest
    steps:
      - name: Check commit message
        run: |
          COMMITS_URL="${{ github.event.pull_request.commits_url }}"
          COMMIT_MESSAGES=$(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" "$COMMITS_URL" | jq -r '.[].commit.message')

          IFS=$'\n'
          for COMMIT_MSG in $COMMIT_MESSAGES; do
            if [[ ! "$COMMIT_MSG" =~ ^\[(KS|IL|MI|ST|MA)-(D|C)\] ]]; then
              if [[ ! "$COMMIT_MSG" =~ ^\[KS-(tests|master)\] ]]; then
                echo "Commit '$COMMIT_MSG' message PR title must start with your [init letters] and\
                  continue with [C for Client part] or [D for Daemon part] or\
                  [tests] or [master]" >&2"
                echo "Current message: $COMMIT_MSG" >&2
              exit 1
            fi            
          done
          
          echo "All commit messages have the correct prefix"