name: content in pull_request
on: pull_request
jobs:
  check-pr-title:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Get pr commits
        run: |
          BEFORE="${{ github.event.before }}"
            
          if [ "$BEFORE" != "0000000000000000000000000000000000000000" ]; then
            COMMITS=$(git log --pretty=format:'{%n  "message": "%s"%n}' \
              $BEFORE..HEAD | jq -s '.')
          else
            git fetch origin ${{ github.event.pull_request.base.ref }}
            BASE_SHA=$(git merge-base HEAD origin/${{ github.event.pull_request.base.ref }})
            COMMITS=$(git log --pretty=format:'{%n  "message": "%s"%n}' \
              $BASE_SHA..HEAD | jq -s '.')
          fi
            
          echo "COMMITS=$COMMITS" >> $GITHUB_ENV
          echo "$COMMITS"

      - name: Check PR title format
        env:
          PR_TITLE: "${{ github.event.pull_request.title }}"
        run: |
          python3 scripts/test_pr.py
      - name: Check PR commit message
        env:
          COMMITS: "${{ env.COMMITS }}"
        run: |
          python3 scripts/test_commit_msg.py