name: content in push
on: [push, pull_request]
jobs:
  check-commit-message:
    runs-on: ubuntu-latest
    steps:
      - name: Check commit message
        run: |
          if [[ "${{ github.event_name }}" == "push" ]]; then
            COMMITS="${{ toJson(github.event.commits) }}"
          else
            COMMITS="${{ toJson(github.event.pull_request.commits) }}"
          fi
          
          python -m scripts/test_commit_msg