name: content in push
on: push
jobs:
  check-commit-message:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Check commit message
        env:
          COMMITS: "${{ toJson(github.event.commits) }}"
        run: |
          python3 scripts/test_commit_msg.py 
      