name: content in push
on: push
jobs:
  check-commit-message:
    runs-on: ubuntu-latest
    steps:
      - name: Check commit message
        run: |
          COMMITS=$(echo "${{ toJson(github.event.commits) }}" | jq -r '.[].message')
          python -m scripts/test_commit_msg