name: content in pull_request
on: pull_request
jobs:
  check-pr-title:
    runs-on: ubuntu-latest
    steps:
      - name: Check PR title format
        env:
          PR_TITLE: "${{ github.event.pull_request.title }}"
          COMMITS: "${{ toJson(github.event.pull_request.commits) }}"
        run: |
          python -m scripts/test_pr PR_TITLE
          python -m scripts/test_commit_msg COMMITS