name: content in push
on: [push, pull_request]
jobs:
  check-commit-message:
    runs-on: ubuntu-latest
    steps:
      - name: Check commit message
        run: |
          python -m ./scripts/test_commit_msg